{
    "version" : "2017-02-28",
    "operation" : "Query",
    "index": "GSI-1",
    "query" : {
        "expression": "#tp = :healthfactor",
          "expressionNames": {
                "#tp": "type"
          },
          "expressionValues" : {
            ":healthfactor" : {
                "S" : "HealthFactor"
            }
        }
    },
    "limit": $util.defaultIfNull(${ctx.args.limit}, 20),
    "nextToken": $util.toJson($util.defaultIfNullOrBlank($ctx.args.nextToken, null))
}